* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mininav {
  width: 100%;
  overflow: hidden;
  background-color:black;
  padding: 10px 0;
  position: relative;
  color: white;
}

.scroll-content {
  display: flex;
  width: max-content; 
  animation: scroll-left 15s linear infinite;
}

.scroll-content p {
  margin: 0 200px; 
  white-space: nowrap;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


/* Card width for larger screens */
.card {
    max-width: 300px; /* Set a maximum width */
  }
  
  /* Adjust carousel controls for visibility */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black; /* Ensure buttons are visible */
    border-radius: 50%; /* Style buttons as circles */
    padding: 10px;
  }
  
  /* Mobile responsiveness */
  @media screen and (max-width: 700px) {
    .card {
      width: 90%; /* Wider cards on mobile */
      margin: 0 auto; /* Center the cards */
    }
  }
  

  .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card-name-price .card-price {
    color: green;
    font-weight: bold;
  }